<div class="modal-header">
  <h3 class="modal-title">{{vm.title}}</h3>
</div>

<div class="modal-body">
  <form class="form-horizontal">
    <div class="form-group">
      <label for="name" class="col-md-2 control-label">name</label>
      <div class="col-md-10">
        <input type="text" class="form-control" id="name" ng-model="vm.name">
      </div>
    </div>
    <div class="form-group">
      <label for="redirectURI" class="col-md-2 control-label">redirectURI</label>
      <div class="col-md-10">
        <input type="text" class="form-control" id="redirectURI" ng-model="vm.redirectURI">
      </div>
    </div>
    <div class="form-group">
      <label for="trusted" class="col-md-2 control-label">trusted</label>
      <div class="col-md-10">
        <label class="radio-inline">
          <input type="radio" id="trusted" ng-model="vm.trusted" ng-value="true"> true
        </label>
        <label class="radio-inline">
          <input type="radio" id="trusted" ng-model="vm.trusted" ng-value="false"> false
        </label>
      </div>
    </div>
 </form>
</div>

<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="ok()">{{vm.okName}}</button>
  <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
