<!-- unauthenticated -->
<div class="navbar navbar-inverse navbar-static-top" role="navigation" ng-show="!isAuthenticated()">
  <div class="container">
    <div class="navbar-header">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="#">Fitribe</a>
    </div>

    <div class="collapse navbar-collapse" id="js-navbar-collapse">
      <!-- Left Part -->
      <ul class="nav navbar-nav">
      </ul>

      <!-- Right Part -->
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#/signup">Singup</a></li>
      </ul>
    </div>
  </div>
</div>


<!-- authenticated -->
<div class="navbar navbar-inverse navbar-static-top" role="navigation" ng-show="isAuthenticated()">
  <div class="container">
    <div class="navbar-header">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="#">Fitribe</a>
    </div>

    <div class="collapse navbar-collapse" id="js-navbar-collapse">

      <!-- Left Part -->
      <ul class="nav navbar-nav">
        <!-- Account -->
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button">System <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#/user">User</a></li>
            <li><a href="#/role">Role</a></li>
            <li><a href="#/role_mapping">RoleMapping</a></li>
          </ul>
        </li>
      </ul>

      <!-- Right Part -->
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button">
            <span class="glyphicon glyphicon-cog"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="" ng-click="logout()">Logout</a></li>
          </ul>
        </li>
      </ul>

    </div>
  </div>
</div>
